button {
    padding: .3em 1em;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 2em;
}

main {
    display: flex;
    margin: 1em;
}

div {
    margin: 1.5em;
}

table {
    border: 20px ridge hsl(29, 45%, 33%);
}

td {
    background-color: rgb(148, 130, 109);
    min-width: 70px;
    height: 70px;
    text-align: left;
    border: 2px solid gray;
    margin: auto;
}

.container {
    display: flexbox;
}

.gameInfo {
    background-color: rgba(209, 236, 240, 0.801);
    color: rgb(50, 51, 51);
}

.null {
    background-color: antiquewhite
}


.redPiece, .blackPiece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    font-size: 35px;
    color: rgb(167, 164, 164);
    margin-left: 5px;
    user-select: none;
}

.redPiece {
    background-color: rgb(172, 56, 56);
    border: 10px double rgb(129, 26, 26);
    color: rgb(204, 151, 151);
}

.blackPiece {
    background-color: rgb(58, 57, 57);
    border: 10px double rgb(2, 2, 2);
    color: rgb(167, 164, 164);
}

#active {
    box-shadow: 0 0 10px 5px rgb(60, 190, 199);
}

#start {
    display: none;
}

#winner {
    font-size: 40px;
}

#loser {
    display: none;;
}

.gameText {
    margin: 0;
}

#backText {
    color: rgb(0, 0, 0);
}

.redText {
    color: rgb(129, 26, 26);
}